torch==2.0.1
torch_geometric==2.5.2
torch_cluster==1.6.3
torch-scatter==2.1.1+pt20cu117
torch-sparse==0.6.17+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
huggingface_hub==0.22.2
joblib==1.3.2
networkx==3.2.1
ogb==1.3.6
pandas==1.3.5
numpy==1.24.3 
PyYAML==6.0.2
rdkit==2023.9.5
scikit_learn==1.4.1.post1
scipy==1.14.1
tqdm==4.66.2
hnswlib==0.8.0
matplotlib==3.3.4
kiwisolver==1.3.1
unimol-tools==0.1.2
